.hover :hover {
  background-color: #e6e6e6;
  padding-right: 40px;
}
.hover {
  padding-right: 40px;
}

@media screen and (max-width: 2560px) {
  .imgupdt {
    width: 70px;
    height: 70px;
  }
  .update {
    width: 20%;
    margin-right: 140px;
    transform: translateY(220px);
  }
  .logo {
    width: 120px;
    height: 40px;
  }
  .input1 {
    width: 100%;
  }
  .input {
    width: 80%;
  }
  #myUL {
    width: 100%;
  }
  .home,
  .refresh {
    font-size: 13px;
  }
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 120px;
    height: 40px;
  }
  .input1 {
    width: 100%;
  }
  .input {
    width: 70%;
  }
  #myUL {
    width: 100%;
  }
  .home,
  .refresh {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 680px) {
}
@media screen and (max-width: 480px) {
  .logo {
    width: 70px;
    height: 25px;
  }
  .home {
    font-size: 15px;
  }
  .input {
    display: flex;
    justify-content: center;
    width: 100px;
  }
  .input1 {
    width: 90%;
  }
  #myUL {
    top: 60px;
    width: 50%;
    position: absolute;
  }
  .update {
    width: 50%;
    margin-right: 50px;
    transform: translateY(220px);
  }
  .imgupdt {
    width: 57px;
    height: 57px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 70px;
    height: 25px;
  }
  .home,
  .refresh {
    font-size: 12px;
  }
  .input {
    display: flex;
    justify-content: center;
    width: 100px;
  }
  .input1 {
    width: 80%;
  }
  #myUL {
    top: 60px;
    width: 50%;
    position: absolute;
  }
  .bell {
    margin-left: -10px;
  }
  .update {
    width: 60%;
    margin-right: 70px;
    transform: translateY(220px);
  }
  .imgupdt {
    width: 55px;
    height: 55px;
  }
}
